.container {
    background-color: burlywood;
} 

.header {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.tabs {
    float: left;
}
.tabs a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.tabs a:hover {
    background-color: #111;
}